@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,400&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg {
  background: rgb(54, 54, 138);
  background: linear-gradient(
    90deg,
    rgba(54, 54, 138, 1) 0%,
    rgba(95, 95, 155, 1) 100%
  );
}

/* Header Start  */

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.header h1,
.header p {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.header h1 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

.header p {
  font-size: 1.125rem;
  font-weight: 200;
  font-style: italic;
  margin-top: 0.6rem;
}

/* Header End  */

/* Form Start  */
.form-contain {
  width: 55vw;
  margin: 2rem auto;
  background: #272746;
  border-radius: 8px;
  padding: 20px;
}

.form-group {
  padding: 0.25rem;
  margin: 0 auto 1.2rem auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

.form-group label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-group p {
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
  font-family: inherit;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.text-area__input {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  color: #242445;
  padding: 0.4rem;
  border-radius: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 10px 0 0;
}

.clue {
  font-size: 0.9rem;
  color: #e4e4e4;
  margin-left: 0.25rem;
}

.form-group .text-area__input {
  min-height: 120px;
}

.form-group button {
  width: 100%;
  padding: 0.7rem;
  color: #fff;
  background: #37af65;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.form-group button:hover,
.form-group button:focus {
  color: #242445;
  font-weight: 700;
}

/* form end */
/* Start Footer */
footer {
  width: 90vw;
  border-top: 1px #242445 dashed;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.social-links {
  margin-top: 0.7rem;
}

.social-links a {
  font-size: 1.5rem;
  color: #242445;
  margin-left: 2rem;
}

.copy-r p {
  margin-right: 1rem;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  color: #242445;
}

/* End Footer */

/* Mobile */
@media (max-width: 576px) {
  .header h1 {
    font-size: 1.3rem;
  }

  .header p {
    font-size: 0.7rem;
    text-align: center;
  }

  .form-contain {
    width: 85vw;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copy-r p {
    margin-left: 3rem;
  }
}
/* Mobile End */

@media (max-width: 992px) {
  .form-contain {
    width: 70vw;
  }
}
